{%extends "base.html"%}
{%block content%}
            <div class="main-content">

                <!-- begin our story section -->

                <section class="bg-white story">
                    <div class="container">
                        <div class="headline text-center">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                   <br><br> 
                                   <h2 class="section-title"><b>游戏智能研究组</b></h2>
                                   <br>
                                  <img src="../static/img/group.jpg"  class="img-responsive center-block" alt="team-member 1">
                                  <br>
                                 </div>
                            </div>
                        </div> <!-- /.headline -->

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 text-left">
                                <p class="story-description">
                                	&nbsp;&nbsp;&nbsp; &nbsp;   &nbsp;游戏智能研究组是由徐修远申请立项专注于智能博弈研究的小组，我们是一群拥有共同目标，具有创新意识，对人工智能机器热衷的大学生．我们致力于研究游戏过程中的智能博弈环节，期望将一些机器学习的方法应用到游戏过程中，通过不断改进算法来获得游戏的最优胜利是我们最终目的，我们也期望通过此项目来窥视一些机器学习的奥妙，加深我们对机器学习的理解．如果你对我们的项目感兴趣，欢迎<a href="https://github.com/SCUAIGame/SCU_MILab_AIGame">fork</a>我们的项目或者联系我们！
                                </p> <!-- /.story-description -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end of our story section -->
                 <hr style="height:5px;width:70%;border:none;border-top:5px ridge gray"/>

                <!-- begin our designation section -->

                <section class="bg-white designation">
                    <div class="container">
                        <div class="team-list headline text-center">
                            <div class="container">
                                <div class="col-md-6 col-md-offset-3">
                                       <h2 class="section-title">项目主任 </h2>
                                </div>
                                	 <div class="col-md-12">
                                       <div class="text-center">
                                          <a href="http://www.machineilab.org/users/zhangyi/index.html"><img src="../static/img/zhangyi.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 1"></a>
                                          <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>章毅</h4>
                                                    <p>四川大学计算机学院（软件学院）院长、博士生导师、教育部新世纪优秀人才、四川省
                                                    	 </br>有突出贡献优秀专家、四川省学术技术带头人，享受国务院特殊津贴专家。2016年当选
                                                    	 </br>国际IEEE（The Institute of Electrical and Electronics Engineers）Fellow。
                                                    </p>
                                                    <hr style="height:3px;width:60%;border:none;border-top:3px double gray;" />
                                                </div> <!-- end of /.team-member-about -->
                                          </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                     <div class="col-md-12">
                                        <h2 class="section-title">主要成员 </h2>
                                      </br>
                                     </div>
                                 <div class="row">
                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/xuxiuyuan.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 1">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>徐修远</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/piyong.png" style="width:100px;height:100px"  class="img-responsive center-block" alt="team-member 2">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>皮勇</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/jiangzhile.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 3">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>蒋至乐</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                    
                                     <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/liwenjing.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 1">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>李文静</h4>

                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/panchen.png" style="width:100px;height:100px"  class="img-responsive center-block" alt="team-member 2">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>潘晨</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/wangyan.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 3">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>王炎</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                     <div class="col-md-3">
                                        <div class="text-center">
                                            <img src="./static/img/MemPhotos/wangxu.png" style="width:100px;height:100px" class="img-responsive center-block" alt="team-member 1">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>王旭</h4>
                                                </div> <!-- end of /.team-member-about -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                </div>                          
                            </div>
                        </div> <!-- end of /.team-list -->
                    </div>
                </section>
                 <!-- end of designation section -->
            </div> <!-- end of /.main-content -->
            <br>
　　　　　　　　　　　　    <hr style="height:5px;width:70%;border:none;border-top:5px ridge gray"/>

{%endblock%}
